
   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> 
     	  <div class="row"> 
	      	<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 
	  		<div class="btn-group btn-group-justified" role="group" aria-label="...">
	  		<%= button_to "Abrir Navegador", browp_path , class:"btn btn-default btn-group-justified" %>  
			</div>
			</div>
		  </div>

     	  <div class="row" style="margin-top: 10px">
	    	<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 	
	    		<div class="table-responsive">
	      			<table class="table table-condensed table-hover table-responsive">
	       				
	        		<% if @archivos.empty? %>
	        			<% if @img %>
	        				<% if @title %>
	        					<thead style="background-color:#A9D0F5">
							          <th>Codigo</th>
							          <th>Style</th>
							          <th>Descripcion</th>
							          <th>Imagen</th>         
			        			 </thead>
			        			<tr>
			        				  <td>XXXXX</td>
			        				  <td><%= @nom %></td>
			        				  <td><%= @title %></td>				          
							          <td><img src="<%=@img%>"  width="47px" data-toggle="modal" data-target="#myModall" class="img-thumbnail"></td>
							    </tr>
							<% else %>
								<thead style="background-color:#A9D0F5">
							          <th>Codigo</th>
							          <th>Style</th>
							          <th>Imagen</th>         
			        			 </thead>
								<tr>
			        				  <td>XXXXX</td>
			        				  <td><%= @nom %></td>				          
							          <td><img src="<%=@img%>"  width="47px" data-toggle="modal" data-target="#myModall" class="img-thumbnail"></td>
							    </tr> 
							 <% end %>   
					    <% end %>
					    
						          	 <!-- Modall -->
				                        <div class="modal fade" id="myModall" role="dialog">
				                          <div class="modal-dialog">
				                            <div class="modal-content">
				                              <div class="modal-header">
				                                <button type="button" class="close" data-dismiss="modal">&times;</button>
				                                <h4 class="modal-title" style="text-align: center"><b>Descripcion:</b> <%= @title %>  <b> - Style:</b> <%= @nom %></h4>
				                              </div>
				                              <div class="modal-body">
				                                <img src="<%= @img %>" width="570px" style="margin: auto">
				                              </div>        
				                            </div>
				                          </div>
				                        </div>

	        		<% else %>
	        		 <thead style="background-color:#A9D0F5">
			          <th>Codigo</th>
			          <th>Style</th>
			          <th>Imagen</th>         
	        		</thead>
	        			<% if @archivost %>
					  		<% @archivos.each do |a| %>
						  		<tr>
						          <td><%= a.code %></td>	
						          <td><%= a.style %></td>				          
						          <td>
						          	<img src="<%= a.pic %>"  width="47px" class="img-thumbnail"></td>
						        </tr>
						    <% end %>
					    <% else %>
					    	<tr>
					          <td><%= @archivost.code %></td>	
					           <td><%= @archivost.style %></td>				          
					          <td>
					          	<img src="<%= @archivost.imagen %>"  width="47px" class="img-thumbnail"></td>
					        </tr>
					    <% end %>

				     <% end %> 
				     <% if (@ope=="t") %>
					    		<tr>
					          <td><%= @ult.code %></td>				          
					          <td><%= @ult.style %></td>
					          <td><img src="<%= @ult.imagen %>"  width="47px" class="img-thumbnail"></td>
					        </tr>
					        <% end %>        
			      	</table>
	  			</div>
	  		</div>	
	  	  </div>
	  				
	  	<% if (@ope=="g") %>
	  	<div class="alert alert-success" role="alert">La imagen se guardo con exito!</div>
	  	<% elsif (@ope=="t") %>
	  		<div class="alert alert-success" role="alert">La imagen se sumo con exito al listado!</div>
	  	<% elsif (@ope=="ce") %>
	  		<div class="alert alert-success" role="alert">La ventana se cerro con exito!</div>
	  	<% elsif (@ope=="ts") %>
	  		<div class="alert alert-danger" role="alert">No hay ventanas abiertas con imagenes!</div>
	  	<% elsif (@ope=="su") %>
	  		<div class="alert alert-success" role="alert">Se subieron <b><%= params[:logsub] %></b> imagenes al album <b><%= params[:albumv] %></b></div>	
	  	<% elsif (@ope=="ch") %>
	  		<% if(@fot=="true") %>
	  				<div class="alert alert-danger" role="alert">No existe ese numero de imagen!</div>
	  		<% else %>
			  		<% if (@archivos.empty?) %>
			  			<div class="alert alert-info" role="alert" style="margin-top:-20px"><b>NO </b> se encuentra en el <b>SISTEMA</b></div>
			  		<% else %>
			  			<div class="alert alert-warning" role="alert"><b>YA </b> se encuentra en el <b>SISTEMA</b></div>
			  		<% end %>

			  		<% if (@archivost.empty?) %>
			  			<div class="alert alert-info" style="margin-top:-15px; margin-bottom: 10px" role="alert"><b>NO </b>se encuentra en el <b>LISTADO</b> a subir</div>
			  		<% else %>
			  			<div class="alert alert-warning" role="alert"><b>YA </b>se encuentra en el <b>LISTADO</b> a Subir</div>
			  		<% end %>
			<% end %>

	  	<% end %>	
	      
		
	
		<!-- Enlace a la página de subir archivos -->
		 <div class="row"> 
	      	<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 
			<div class="panel panel-default">
  			<div class="panel-body">
			<div class="form-group">
				<%= form_tag(downp_path, :method => 'get') do -%>
				    <div class="form-group">
				    <% if (@albumv=="cbeba" || !@albumv) %>
				    <%= radio_button_tag(:carpeta, "cbeba",checked: true ) %>
				    <% else %>
				    <a href="/subirproducto/subir_producto?albumv=cbeba">
				    <%= radio_button_tag(:carpeta, "cbeba") %>
				    <% end %>
					<%= label_tag(:carpeta_beba, "Carters Beba") %></a>
					</div>
					<div class="form-group">					
				    <% if (@albumv=="cbebe") %>			
					<%= radio_button_tag(:carpeta, "cbebe",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=cbebe">
					<%= radio_button_tag(:carpeta, "cbebe") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Carters Bebe") %></a>
					</div>
					<div class="form-group">
					<% if (@albumv=="cnena") %>			
					<%= radio_button_tag(:carpeta, "cnena",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=cnena">
					<%= radio_button_tag(:carpeta, "cnena") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Carters Nena") %></a>
					</div>
					<div class="form-group">
					<% if (@albumv=="cnene") %>			
					<%= radio_button_tag(:carpeta, "cnene",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=cnene">
					<%= radio_button_tag(:carpeta, "cnene") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Carters Nene") %></a>
					</div>
					<div class="form-group">
					<% if (@albumv=="hnena") %>			
					<%= radio_button_tag(:carpeta, "hnena",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=hnena">
					<%= radio_button_tag(:carpeta, "hnena") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Hym Nena") %></a>
					</div>
					<div class="form-group">
					<% if (@albumv=="hnene") %>			
					<%= radio_button_tag(:carpeta, "hnene",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=hnene">
					<%= radio_button_tag(:carpeta, "hnene") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Hym Nene") %></a>
					</div>
					<div class="form-group">
					<% if (@albumv=="skip") %>			
					<%= radio_button_tag(:carpeta, "skip",checked: true) %>
					<% else %>
					<a href="/subirproducto/subir_producto?albumv=skip">
					<%= radio_button_tag(:carpeta, "skip") %>
					<% end %>
					<%= label_tag(:carpeta_bebe, "Skip-Hop") %></a>
					</div>
					
					<div class="form-group">
						<label>Fotos Hym: </label>
						<% if (@foto=="auto" || !@foto) %>		
							<%= radio_button_tag(:foto, "auto",checked: true) %>
						<% else %>
							<%= radio_button_tag(:foto, "auto") %>
						<% end %>
						<%= label_tag(:foto, "auto") %>
						<% if (@foto=="1") %>
						<%= radio_button_tag(:foto, "1",checked: true) %>
						<% else %>
						<%= radio_button_tag(:foto, "1") %>
						<% end %>
						<%= label_tag(:foto, "1") %>
						<% if (@foto=="2") %>						
						<%= radio_button_tag(:foto, "2",checked: true) %>
						<% else %>
						<%= radio_button_tag(:foto, "2") %>
						<% end %>
						<%= label_tag(:foto, "2") %>
						<% if (@foto=="3") %>
						<%= radio_button_tag(:foto, "3",checked: true) %>
						<% else %>
						<%= radio_button_tag(:foto, "3") %>
						<% end %>
						<%= label_tag(:foto, "3") %>
						<% if (@foto=="4") %>
						<%= radio_button_tag(:foto, "4",checked: true) %>
						<% else %>
						<%= radio_button_tag(:foto, "4") %>
						<% end %>
						<%= label_tag(:foto, "4") %>
					</div>					
					<%= submit_tag "Check", formaction: checkp_path, class:"btn btn-default", method:"get" %>
					
					<%= submit_tag "Cerrar Ventana", formaction: cerrarp_path, class:"btn btn-danger" %>
					<%= submit_tag "Listar Foto", class:"btn btn-primary" %>
				 	

				 </div>
			</div>
			</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-9 col-md-3 col-sm-3 col-xs-12"> 
		<div class="panel panel-default" style="margin-bottom: 0px">
  			<div class="panel-body">
  				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"> <b>Listado de Fotos a subir</b></div>
  				<div class="col-lg-7 col-md-3 col-sm-3 col-xs-12"> 					
  					<button type="button" class="btn btn-primary pull-right" style="margin-top:-8px; margin-bottom: 8px; margin-right:-50px" data-toggle="modal" data-target="#subirModal">Subir Fotos del listado</button>
  					<!-- Modal Subir listado -->
					<div class="modal fade" id="subirModal" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header" style="background-color:#F3EA5D">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title" style="text-align: center"><b>Subir Fotos del Listado al album <%= @albumv %></b> </h4>
								</div>
								<div class="modal-body">
								  <div class="row">
									<div class="col-lg-12 col-md-2 col-sm-2 col-xs-12"> 						
										<h4>Estas seguro que queres subir <b><%= @architemp.count %></b> fotos del listado al album <b><%= @albumv %></b></h4>

									</div>
								   </div>
								</div>													
								<div class="modal-footer">
								<%= submit_tag "Subir", formaction: subirp_path, class:"btn btn-primary" %>
  								<% end %>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
								</div>									
							</div>        
						</div>
					</div>
					
  					
  				</div>
  				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-right:15px"> 
  					<%= form_tag deletetempp_path, method: :post do %>
  					<%= button_tag "Borrar listado", formaction: deletetempp_path, class:"btn btn-danger pull-right", style:"margin-top:-8px; margin-bottom: 8px;" %>
  						 <% end %>
  					</div>


		<div class="row" style="margin-top: 15px">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 		    		
			      <table class="table table-condensed table-hover table-condensed" id="ex">
			        <thead style="background-color:#A9D0F5">
					          <th>Nº</th>
					          <th>Style</th>
					          <th>Codigo</th>					          
					          <th>Descripcion</th>					         
					          <th>Imagen</th>
					          <th>Accion</th>         
	        			 </thead>	        			
	        			<% if  @architemp.count ==0 %>
	        			<% else %>
	        				<tbody id="product-index">
	        					<%= render "index" %> 
	        				</tbody>       				   
						 <% end %>        
			      	</table>	  			
	  		</div>	
	  	  </div>
	  	  </div>	
	  	  </div>
	</div>
	
	 
	