<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 
	<div class="row"> 
	    <div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 
				<strong>Importar Orden:</strong>
		</div>
	</div>
	<br>
	<div class="row"> 
	  	<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12"> 
		  	<ol>	
				  <li>- Seleccionar el tipo de Orden</li>
				  <li>- Seleccionar la marca de la Orden a importar</li>				  
				  <li>- Hacer clik en boton Importar Orden </li>
			</ol>
		</div>
	</div>
	<div class="row"> 
	  	<div class="col-lg-12 col-md-3 col-sm-3 col-xs-12">
<br>La Orden se importara en el ultimo Pedido: <mark><%=Pedido.last.nombre%></mark></br>

<%=form_tag :action =>'importar' %>

<br>Selecciona el tipo de Orden:
<%= collection_select(:id_tipo, 1, Tipo.all, :idtipo, :tipo) %></br>

<br>Selecciona la marca de la Orden a Importar:
<%=select_tag(:marca, options_for_select([['Carters', 1], ['Hym', 2]])) %></br>

<br><%= submit_tag 'Importar Orden', class:"btn btn-primary" %> 
 
</div>
</div>
</div>

